body {
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.background {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-image: url('background_image.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
#heading {
  background-color: rgb(138, 66, 15);
  color: aliceblue;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  padding-top: 5px;
}
.block {
  padding: 10px;
  margin: 5px;
}
.container:hover {
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
  background-color: black;
}
.container {
  padding: 20px;
  background-color: rgb(63, 56, 56);
  color: white;
  border-radius: 20px;
  width: 25%;
  height: 25%;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.container h2 {
  color: chocolate;
  padding-bottom: 0px;
  margin: 0px;
  display: flex;
}
.container h3 {
  padding-top: 0px;
  margin: 0px;
}
.container button {
  color: white;
  border-radius: 0px 10px 0px 10px;
  font-size: 15px;
  background-color: #f57f17;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  transition: #e65100 0.3s ease;

}
.container button:hover {
  background-color: #c14401;
  transform: translateY(-2px);
}
.notes_container {
  position: fixed;
  right: 80px;
  bottom: 100px;
}
.notes {
  display: none;
  border: #c14401 solid;
  border-width: 2px;
  border-radius: 10px 10px 0px 10px;
  padding: 4px;
}
.notes_container:hover .notes {
  display: block;
}
.add {
  padding: 20px;
  border-radius: 100%;
  color: white;
  font-size: 40px;
  background-color: chocolate;
  position: fixed;
  border: none;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  animation: upDown 1s infinite;
  transition: transform 1s linear;
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.add:hover {
  background-color: #c14401;
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
}
.pop_page {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}
.pop_box {
  background-color: rgba(255, 244, 229, 1);
  width: 40%;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 25%;
  display: none;
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
  border: rgba(163, 52, 1, 0.8) ridge;
}
.pop_box input {
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-bottom: 2px solid black;
  outline: none;
  position: relative;
  right: 9px;
}
.pop_box textarea {
  background: transparent;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-color: black;
  outline: none;
  position: relative;
  right: 9px;
}
.pop_box input::placeholder {
  color: black;
}
.pop_box textarea::placeholder {
  color: black;
}
.pop_box button {
  color: rgb(213, 201, 192);
  border-radius: 8px;
  font-size: 15px;
  background-color: black;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 6px;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
  position: relative;
  right: 9px;
}